@model Mephist.ViewModels.EducationalMaterialViewModel
@{
    ViewData["Title"] = "AddMaterial";
}

<h1>Добавление материала</h1>
<form method="post" id="add-material-form" asp-controller="EducationalMaterials" asp-action="AddMaterial" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br />
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="EmployeeFullName"></label><br />
        <input asp-for="EmployeeFullName" />
        <span asp-validation-for="EmployeeFullName"></span>
    </div>
    <div>
        <label asp-for="Subject"></label><br />
        <input asp-for="Subject" />
        <span asp-validation-for="Subject"></span>
    </div>
    <div>
        <label asp-for="Type"></label><br />
        <select id="typeInput" asp-for="Type" asp-items="ViewBag.Types">
            <option value="">Выберите тип</option>
        </select>
        <span asp-validation-for="Type"></span>
    </div>


    <div id="labJournalInput" style="display: none">
        <div>
            <label asp-for="Semester"></label><br />
            <input asp-for="Semester" />
            <span asp-validation-for="Semester"></span>
        </div>
        <div>
            <label asp-for="Work"></label><br />
            <input asp-for="Work" />
            <span asp-validation-for="Work"></span>
        </div>
        <div>
            <label asp-for="Year"></label><br />
            <input asp-for="Year" />
            <span asp-validation-for="Year"></span>
        </div>
        <div>
            <label asp-for="Mark"></label><br />
            <input asp-for="Mark" />
            <span asp-validation-for="Mark"></span>
        </div>
        <input name="query" hidden id="query" type="text"/>

    </div>

    <div>
        <label id="uploads-label">Файлы</label>
        <input id="uploads" accept="image/*" type="file" name="uploads" multiple />
    </div>
    <style>
        #uploads-preview {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 600px;
        }

        #uploads-preview li {
            margin: 5px 5px 5px 0;
            padding: 1px;
            float: left;
            width: 200px;
            height: 300px;
            font-size: 4em;
            text-align: center;
        }
    </style>
    <ul id="uploads-preview">
    </ul>
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>

@section scripts
{
    <script src="~/js/AddMaterial.js"></script>
    <script src="~/js/EmployeeAutocomplete.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/SortableFiles.js"></script>
}
