@model Mephist.ViewModels.EducationalMaterialViewModel
@{
    ViewData["Title"] = "AddMaterial";
}

@section stylesheets
{
    <link rel="stylesheet" href="~/lib/PhotoSwipe/dist/photoswipe.css">
    <link rel="stylesheet" href="~/lib/PhotoSwipe/dist/default-skin/default-skin.css">

}

<h1>Добавление материала</h1>
<form method="post" id="add-material-form" asp-controller="EducationalMaterials" asp-action="AddMaterial" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="form-group"></div>
    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Description"></label>
        <textarea class="form-control" style="min-height: 5em" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="EmployeeFullName"></label>
        <input class="form-control" asp-for="EmployeeFullName" />
        <span asp-validation-for="EmployeeFullName"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Subject"></label>
        <input class="form-control" asp-for="Subject" />
        <span asp-validation-for="Subject"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Type"></label>
        <select class="form-control" id="typeInput" asp-for="Type" asp-items="ViewBag.Types">
            <option value="">Выберите тип</option>
        </select>
        <span asp-validation-for="Type"></span>
    </div>

    <div id="labJournalInput" style="display: none">
        <div class="form-group mb-3">
            <label asp-for="Semester"></label>
            <input class="form-control" asp-for="Semester" />
            <span asp-validation-for="Semester"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Work"></label>
            <input class="form-control" asp-for="Work" />
            <span asp-validation-for="Work"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Year"></label>
            <input class="form-control" asp-for="Year" />
            <span asp-validation-for="Year"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Mark"></label>
            <input class="form-control" asp-for="Mark" />
            <span asp-validation-for="Mark"></span>
        </div>
        <input name="query" hidden id="query" type="text" />

    </div>
    <div class="mb-3">
        <label id="uploads-label">Файлы</label>
        <input class="form-control" id="uploads" accept="image/*" type="file" name="uploads" multiple />
    </div>
    <style>
        
        #uploads-preview {
            
            height: auto;
            margin: 0;
            padding: 0;
            
        }

            #uploads-preview div {
                
                max-height: 300px;
                text-align: center;
            }

        .img-thumbnail{
            max-height:250px;
            width:100%;
        }

        .thumb-name {
            font-size: 14px;
        }
    </style>
    <div class="w-100 my-2">
        <div id="uploads-preview" class="container row">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary my-2">Добавить</button>
</form>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

@section scripts
{
    <script src="~/js/AddMaterial.js"></script>
    <script src="~/js/EmployeeAutocomplete.js"></script>
    <script src="~/js/dropzone.js"></script>
    <script src="~/js/SortableFiles.js"></script>
    <script src="~/lib/PhotoSwipe/dist/photoswipe.min.js"></script>
    <script src="~/lib/PhotoSwipe/dist/photoswipe-ui-default.min.js"></script>
}
