
@{
    ViewData["Title"] = "GetMaterials";
}

<h1>GetMaterials</h1>
<a asp-action="AddMaterial">Добавить</a>
<table>
    <thead>
        <tr>
            <td>Название</td>
            <td>Тип</td>
            <td>Преподаватель</td>
            <td>Предмет</td>
        </tr>
    </thead>
    <tbody>
    @foreach(EducationalMaterial em in ViewBag.EducationalMaterialsList)
    {
        <tr>
            <td>
                <label>@em.Name</label>
                <a asp-action="Download" asp-controller="EducationalMaterials" asp-route-id="@em.Id">Скачать</a>
            </td>
            <td>@em.Employee.FullName</td>
            <td>@em.Subject</td>
        </tr>
    }
    </tbody>
</table>