@{
    ViewData["Title"] = "Home Page";
}

<br /><br /><br />
<div class="text-center">
    <h1 class="display-4">Добро пожаловать на мифист!</h1>
    <p>Мы находимся на начальной стадии разработки.</p>
</div>
