@{

}


<ul>
    <li>
        <form method="post" asp-action="SynchronizeEmployees">
            <button type="submit">Синхронизировать списки</button>
        </form>
        <form method="post" asp-action="SynchronizeSubjects">
            <button type="submit">Синхронизировать списки</button>
        </form>
    </li>
</ul>