
@{
    ViewData["Title"] = "Index";
}


    <table>
        <thead>
            <tr>
                <td>ФИО</td>
                <td>Инстиут</td>
                <td>Кафедра</td>
                <td>Предметы</td>
                <td>Учебные материалы</td>
                <td></td>
            </tr>
        </thead>
        
        <tbody>
            @foreach (Employee employee in ViewBag.EmployeesList)
            {
                @await Component.InvokeAsync("EmployeeProfile", employee);
            }
        </tbody>
     </table>

