
@{
    ViewData["Title"] = "Index";
}

<div class="justify-content-center mb-3">
    <h1 class="mx-auto my-2">Преподаватели и сотрудники НИЯУ МИФИ</h1>
</div>

<form method="get" asp-action="Index">
    <div class="input-group mb-2" style="font-size: 28px; height: 1.5em;">
        <button class="btn btn-outline-primary" type="submit">Найти</button>
        <input type="text" class="form-control employee-input" name="search" value="@(ViewBag.Search ?? "")">
    </div>
</form>
<div class="container justify-content-center">
    @await Component.InvokeAsync("PageNavigation", new { action = "Index", controller = "Employee", page = ViewBag.Page, maxPage = ViewBag.MaxPage })
</div>
<div class="table">


    @foreach (Employee employee in ViewBag.EmployeesList)
    {
        @await Html.PartialAsync("_smallProfile", employee);
    }

</div>
<div class="container justify-content-center">
    @await Component.InvokeAsync("PageNavigation", new { action = "Index", controller = "Employee", page = ViewBag.Page, maxPage = ViewBag.MaxPage })
</div>



